<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>luv2code Systems Home page</title>
</head>
<body>
<h2>luv2code ADMINS Home page</h2>

<p>
    See you in the basement for the meeting!
    <br>
    Tell whoever...
</p>

<hr>

<a th:href="@{/}">Back to the Home page</a>
</body>
</html>